#!/bin/bash
# Configuration variables for github-backup.sh

# Your GitHub Username or Organization Name
GITHUB_ENTITY="github_username_or_organization"

# Your GitHub Personal Access Token (PAT) - Must have 'repo' scope
GITHUB_TOKEN="your_github_personal_access_token"

# Base URL for the destination server.
DEST_URL_BASE="https://your-new-git-server.com/path/to/repos"
